# Set non-text as binary
* text=auto
*.png binary

# Forcing UNIX LF line endings for text files added to container
config/*.sh text eol=lf
config/rc.xml text eol=lf
config/.bashrc text eol=lf
config/panel text eol=lf
neurodesk/* text eol=lf
neurodesk/test/* text eol=lf
neurodesk/neurodesk/* text eol=lf
neurodesk/neurodesk/test/* text eol=lf
neurodesk/neurodesk/transparent-singularity/** text eol=lf
