<!DOCTYPE html>
<html lang="en">
    <body>
        <h1><%= title %></h1>
        <p><%= title %></p>
        <br/>
        <a href="/start">
            <button>Start</button>
        </a>
    </body>
</html>
