<!DOCTYPE html>
<html lang="en">
    <body>
        <h1><%= title %></h1>
        <p><%= title %></p>
        <br/>
        <a href="/stop">
            <button>Stop</button>
        </a>
        <br/>
    </body>
</html>