<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/build/web/main.css"/>
    </head>
    <body>
        <h1><%= title %></h1>
        <h4><%= instruction %></h4>
        <br/>
        <a href="/stop">
            <button class="button-1" role="button">Stop</button>
        </a>
        <br/>
    </body>
</html>